name: Check Blogposts

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Restore tools
        run: dotnet tool restore

      - name: "Install Node.js"
        uses: actions/setup-node@v3
        with:
          node-version: 21.1

      - name: "Install Dafny"
        uses: dafny-lang/setup-dafny-action@v1.9.1
        with:
          dafny-version: 4.10

      - name: "Test Blogposts"
        run: |
          make check
